@import "tailwindcss";

@font-face {
    font-family: "Inter", sans-serif;
    src: url(https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap);
    /*font-optical-sizing: auto;*/
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face{
    font-family: "Montserrat", sans-serif;
    src: url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap);
    font-optical-sizing: auto;
    font-weight: 100 900;
    font-style: normal;
}

@theme{
    /*Fonts*/
    --font-inter: "Inter", sans-serif;
    --font-monse: "Montserrat", sans-serif;

    /*Colors*/
    --color-base-color: #907565;
    --color-light-accent: #D3C5BC; /*A lighter, desaturated version of the base, good for backgrounds or spacious areas*/
    --color-darker-accent: #6E594F; /*A darker shade for text or subtle emphasis, providing good contrast*/
    --color-soft-highlight: #F5F1EE; /*A very light, warm off-white or beige for call-to-action backgrounds or highlights, creating a gentle lift*/
    --color-optional-caling-accent: #A7B0A9;/*A muted, soft sage green. Green is often associated with nature, tranquility, and refreshment. */
}